@import './colors.css';

.App {
  display: flex;
  justify-content: center;
}

.main-content-container {
  position: relative;
}

.main-header {
  align-items: center;
  background: var(--primary-background);
  display: flex;
  justify-content: center;
  left: 0;
  min-width: 400px;
  padding: 2vh 2vw 1vh 2vw;
  position: sticky;
  top: 0;
  width: 60vw;
  z-index: 100;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
