:root {
    --primary-color: #F6F6F6;
    --primary-background: #121212;
    --secondary-color: #808080;
    --secondary-background: #1E1E1E;
    --tertiary-color: #808080;
    --input-placeholder-color: #929292;
    --border-color: #7F7F7F;
  }