@import './colors.css';

@font-face {
  font-family: 'Helvetica Now Text';
  src: url(./fonts/HelveticaNowText-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url(./fonts/HelveticaNowText-Medium.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url(./fonts/HelveticaNowText-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-background);
  color: var(--primary-color);
  font-family: 'Helvetica Now Text', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  padding: 4vw 0;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
