@import '../colors.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background: var(--secondary-background, blue);
    cursor: pointer;
    display: flex;
    height: 88px;
    width: 150px;
}

.container:hover {
    background: #282828;
    color: #fff;
}

.container-inner {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-self: left;
    padding: 12px;
}

.title {
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .01%;
    margin-bottom: 2px;
}

p {
    color: var(--tertiary-color);
    font-size: .875rem;
}

/* Folders */

.folders-container {
    height: 120px;
    margin-bottom: 24px;
}

.folders-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.folders-container ul li {
    margin-bottom: 8px;
    margin-right: 8px;
}