@import '../colors.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1 */
    color: var(--input-placeholder-color, gray);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Iternet Explorer 10-11 */
    color: var(--input-placeholder-color, gray);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--input-placeholder-color, gray);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
    width: 100%;
}

input[type='search'] {
    background: #242424;
    border: none;
    border-radius: 24px;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    height: 44px;
    letter-spacing: .01em;
    outline: none;
    padding: 0 24px;
    width: 100%;
    max-width: 60%;
    min-width: 346px;
}